<!DOCTYPE html>
<html>
<head>
    <title>Travelique</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  {{> navbar}}
  
  <div class="container">

    {{{body}}}

  </div>
      <footer class="footer">
        <p>&copy; 2019 Travelique, Inc.</p>
      </footer>

    </div> <!-- /container -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>